
html {
  --orange: #F2753B;
  --orange-light: #EBAD65;
  --black-30: rgba(0, 0, 0, 0.3);
  --default-box-shadow : #7b7b7b 0px 0 10px 0px;
}


@font-face {
  font-family: Montserrat-Bold;
  src: url('/assets/fonts/Montserrat/Montserrat-Bold.ttf');
}

@font-face {
  font-family: Montserrat-Regular;
  src: url("/assets/fonts/Mulish/Montserrat-Regular.ttf");
}

@font-face {
  font-family: Montserrat-Black;
  src: url("/assets/fonts/Mulish/Montserrat-Black.ttf");
}


@font-face {
  font-family: Mulish-Bold;
  src: url("/assets/fonts/Mulish/Mulish-Bold.ttf");
}

@font-face {
  font-family: Mulish-SemiBold;
  src: url("/assets/fonts/Mulish/Mulish-SemiBold.ttf");
}

@font-face {
  font-family: Mulish-thin;
  src: url("/assets/fonts/Mulish/Mulish-Light.ttf");
}
