
html {
  --orange: #F2753B;
  --orange-light: #EBAD65;
  --black-30: rgba(0, 0, 0, 0.3);
  --default-box-shadow : #7b7b7b 0px 0 10px 0px;
}


@font-face {
  font-family: Montserrat-Bold;
  src: url(../assets/fonts/montserrat/Montserrat-Bold.ttf);
}

@font-face {
  font-family: Montserrat-Regular;
  src: url(../assets/fonts/montserrat/Montserrat-Regular.ttf);
}

@font-face {
  font-family: Montserrat-Black;
  src: url(../assets/fonts/montserrat/Montserrat-Black.ttf);
}


@font-face {
  font-family: Mulish-Bold;
  src: url(../assets/fonts/mulish/Mulish-Bold.ttf);
}

@font-face {
  font-family: Mulish-SemiBold;
  src: url(../assets/fonts/mulish/Mulish-SemiBold.ttf);
}

@font-face {
  font-family: Mulish-thin;
  src: url(../assets/fonts/mulish/Mulish-Light.ttf);
}
