@import "@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "./styles/utils.scss";
@import "./styles/custom.styles.scss";

body {
  background-image: url("./assets/images/tennis-ball-on-ground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 0;
  overflow: hidden;
}

html,
body {
  height: 100%;
  font-family: Mulish-SemiBold, Roboto, sans-serif;
}